<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout transparente</title>
    <link rel="shortcut icon" href="assets/cards.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css">

    <link rel="stylesheet" href="https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/styles.css">
   
    <link rel="stylesheet" href="http://localhost:3000/sdk/views/formulario/styles.css">
     <!-- <link rel="stylesheet" href="https://voidpayservermvp2.onrender.com/sdk/views/formulario/styles.css"> -->

 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">


</head>

<body>
    <div class="header">
        <img class="logo" src="https://voidabinerjr.github.io/VOIDpayWebMVP2/img/voidwhitelogo.png" alt="">
        <div class="breadcrumb">
            <strong>Este Ambiente é Seguro e Criptografado</strong>
            <img class="img" src="https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/assets/psafe.png"
                alt="Psafe">
            <img class="img" src="https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/assets/ssl.png"
                alt="SSL">
        </div>
    </div>
    <form id="dataForm" action="http://localhost:3000/pay/pay?<%=queryy%>" method="post">  https://voidpayservermvp2.onrender.com/
        <!-- <form id="dataForm" action="https://voidpayservermvp2.onrender.com/pay/pay?<%=queryy%>" method="post">  -->
        <div class="container">
            <div class="payment-form">
                <h2>Informações de Envio</h2>

                <label for="address">Nome de Contacto</label>
                <input type="text" id="contactName" placeholder="Nome Completo" name="contactName">

                <div class="wrapInput">

                    <input data-mask="000 00 000 0000" type="text" id="phoneNumber" placeholder="Telefone"
                        name="phoneNumber">

                    <input type="email" class="inputRight" id="email" class="email" placeholder="Email" name="email">
                </div>
                <label for="address">Informe um endereço</label>
                <input type="text" id="address" placeholder="Bairro, Distrito, Provincia" name="address">
                <label for="city">Cidade</label>
                <div class="wrapInput">
                    <input type="text" class="inputLeft" id="city" placeholder="Cidade" name="city">
                    <input type="text" data-mask="000000" class="inputRight" id="postCode" placeholder="Codigo Postal"
                        name="postCode">

                </div>



                <div class="paymentoinfo">
                    <h2>Pagar com</h2>
                    <div class="divmethod"></div>

                    <div class="payment-methods">
                        <div id="card-method" class="card-method" onclick="togglePaymentForm('card')">
                            <i class="fa fa-solid fa-credit-card"></i>
                            Cartão
                        </div>
                        <div id="mobileWallet-method" class="card-method" onclick="togglePaymentForm('mobileWallet')">
                            <i class="fa-solid fa-wallet"></i>
                            Carteira Móvel
                        </div>
                        <div id="paypay-method" class="card-method" onclick="togglePaymentForm('paypal')">
                            <i class="fa-brands fa-paypal"></i>
                            Paypal
                        </div>
                        <div id="qrCode-method" class="card-method" onclick="togglePaymentForm('qrCode')">
                            <i class="fa-solid fa-qrcode"></i>
                            QrCode
                        </div>
                    </div>

                    <div id="card-form">
                        <label for="cardNumber">Numero de Cartão </label>
                        <div class="input-icon">

                            <input type="text" id="cardNumber" data-mask="0000 0000 0000 0000" name="cardNumber"
                                placeholder="1234 1234 1234 1234" onkeypress="cardspace()">
                            <img class="img"
                                src="https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/assets/cards.png"
                                alt="Card Icon">
                        </div>
                        <div class="wrapInput">
                            <div class="input-icon">
                                <input type="text" class="inputLeft" id="expiryDate" data-mask="00 / 00"
                                    name="expiryDate" placeholder="MM/AA">
                                <i class="fa-solid fa-calendar-days"></i>
                            </div>
                            <div class="input-icon">
                                <input type="text" class="inputRight" data-mask="000" id="securityCode"
                                    name="securityCode" maxlength="3" placeholder="CVV">
                                <i class="fa fa-lock"></i>
                            </div>

                        </div>


                    </div>

                    <div id="mobileWallet-form" style="display: none;">
                        <label for="mobileWalletNumber">Número de Telefone</label>
                        <div class="input-icon">
                            <input type="text" data-mask="000 00 000 0000" class="inputLeft" id="mobileWalletNumber"
                                name="mobileWalletNumber" placeholder="258 86 521 8679">
                            <img id="mobileWalletImg" class="img" src="" alt="">
                        </div>

                    </div>

                    <div id="paypal-form" style="display: none; background: black;">
                        <a class="btn"> <i class="fa-brands fa-paypal text-white"></i></a>

                    </div>

                    <div id="qrCode-form" style="display: none; ">
                        <button type="submit" onclick="submitForm('/endpoint1')" class="btn" style="background: red;">
                            <img style="width: 30px;"
                                src="https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/assets/vodacom.png"
                                alt="mpesa"> </i></button>
                        <button type="submit" onclick="submitForm('/endpoint1')" class="btn"
                            style="background: #2f4190;"><img style="width: 100px;"
                                src="https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/assets/ecobankpay.png"
                                alt="ecobankpay"> </i></button>
                        <button type="submit" onclick="submitForm('/endpoint1')" class="btn"
                            style="background: #f37227;"><img style="width: 30px;"
                                src="https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/assets/movitel.png"
                                alt="emola"> </i></button>

                    </div>
                </div>


            </div>


            <div class="order-summary">
                <h2>Resumo do Pedido</h2>

                <% orderData.orderItems.forEach(function(item) { %>
                    <div class="order-item">
                        <div>
                            <img style="width:45px;" src="<%= item.img %>" alt="<%= item.imgAlt %>">
                        </div>
                        <div>
                            <%= item.name %>
                        </div>
                        <div>MZN <%= item.price %> x <%= item.quantity %>
                        </div>
                    </div>
                    <% }); %>
                        <div class="order-item">
                            <div>Subtotal</div>
                            <div>MZN <%= orderData.subtotal %>
                            </div>
                        </div>
                        <div class="order-item">
                            <div>IVA (<%= orderData.ivaTax %>%) [insento]</div>
                            <div>MZN <%= orderData.iva %>
                            </div>
                        </div>
                        <div class="order-item">
                            <div>Frete</div>
                            <div>
                                <%= orderData.shippingCost %>
                            </div>
                        </div>
                        <div class="order-item total">
                            <div>Total</div>
                            <div>MZN <%= orderData.totalAmount %>
                            </div>
                        </div>
                        <button id="payButton" class="btn" type="submit">Pagar</button>
            </div>
            <i id="rocket" class="fas fa-rocket hidden" style="display: none;"></i>
        </div>
    </form>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Sobre nós</h3>
                <p>Somos uma empresa dedicada a fornecer a melhor experiência de pagamento online.</p>
                <img class="img" src="https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/assets/void.png"
                    alt="">
                <img class="img1"
                    src="https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/assets/cards.png" alt="">
                <img class="img" src="https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/assets/ssl.png"
                    alt="">
                <img class="img"
                    src="https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/assets/psafe.png" alt="">
            </div>
            <div class="footer-section">
                <h3>Links úteis</h3>
                <ul>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Termos de Serviço</a></li>
                    <li><a href="#">Suporte</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Contate-nos</h3>
                <p>Email: comercial@voidpay.online</p>
                <p>Telefone: +258 86 521 8679</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 VOIDpay. Todos os direitos reservados.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZjhsfjAlVwb2qw4-63LUv6iQrJ1XwOD8&libraries=places"></script>
    <script src="https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/script.js"></script>
    <script src="https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/datavalidator.js"></script>



    <script>


        flatpickr("#expiryDate", {
            dateFormat: "m/y",
            altFormat: "F Y",
            altInput: true,
            maxDate: "today"
        });

        const cityInput = document.getElementById('city');
        const autocomplete = new google.maps.places.Autocomplete(cityInput, {
            types: ['(cities)'],
            componentRestrictions: { country: 'br' } // Restringir para o Brasil (opcional)
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            const place = autocomplete.getPlace();
           
            // Você pode fazer algo com os dados do lugar aqui
        });

        document.getElementById('payButton').addEventListener('click', () => {
            const rocket = document.getElementById('rocket');
            rocket.style.display = 'block';

            // Remove a classe se já estiver animando para reiniciar a animação
            rocket.classList.remove('flying');

            // Força a reflow para reiniciar a animação
            void rocket.offsetWidth;

            // Adiciona a classe para iniciar a animação
            rocket.classList.add('flying');

            // Desativa o botão
            const button = document.getElementById('payButton');
            button.style.background = 'rgb(0,0,0,0.8)';
            button.style.cursor = 'not-allowed';
            button.innerText = 'Processando...';
        });

        document.getElementById('mobileWalletNumber').addEventListener('input', () => {
            const inputValue = document.getElementById('mobileWalletNumber').value;
            const image = document.getElementById('mobileWalletImg');
            const firstTwoChars = inputValue.substring(0, 2).toLowerCase();
            const firstFiveTwoChars = inputValue.substring(0, 6).toLowerCase();
            const firstSixChars = inputValue.substring(0, 7).toLowerCase();

            if (firstTwoChars === '86' || firstTwoChars === '87' || firstFiveTwoChars === '258 86' || firstFiveTwoChars === '258 87' || firstSixChars === '+258 86' || firstSixChars === '+258 87') {
                image.src = 'https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/assets/movitel.png';
            } else if (firstTwoChars === '84' || firstTwoChars === '85' || firstFiveTwoChars === '258 85' || firstFiveTwoChars === '258 84' || firstSixChars === '+258 84' || firstSixChars === '+258 85') {
                image.src = 'https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/assets/vodacom.png';
            } else if (firstTwoChars === '83' || firstTwoChars === '82' || firstFiveTwoChars === '258 82' || firstFiveTwoChars === '258 83' || firstSixChars === '+258 83' || firstSixChars === '+258 82') {
                image.src = 'https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/assets/tmcel.png';
            } else {
                image.src = 'https://voidabinerjr.github.io/VOIDpayServerMVP2/views/formulario/default-image.jpg';
            }
        });

        function stars() {
            const numStars = 100; // Aumentar o número de estrelas para uma cobertura mais completa
            const container = document.body;

            // Limpa as estrelas existentes
            const existingStars = document.querySelectorAll('.star');
            existingStars.forEach(star => star.remove());

            for (let i = 0; i < numStars; i++) {
                const star = document.createElement('div');
                star.className = 'star';

                // Distribuir as estrelas por toda a área visível da tela
                star.style.left = Math.random() * 100 + 'vw';
                star.style.top = Math.random() * 100 + 'vh';
                star.style.animationDuration = (Math.random() * 2 + 2) + 's'; // Duração aleatória

                // Adicionar a estrela ao contêiner
                container.appendChild(star);
            }
        }

        stars();

        function togglePaymentForm(method) {
            const label = document.createElement('input');
            label.id = 'paymentMethod';
            label.type = 'hidden';
            label.name = 'paymentMethod';
            label.value = method;

            const form = document.getElementById('dataForm');
            const existingLabel = form.querySelector('#paymentMethod');
            if (existingLabel) {
                form.removeChild(existingLabel);
            }
            form.appendChild(label);

            const cardForm = document.getElementById('card-form');
            const mobileWalletForm = document.getElementById('mobileWallet-form');
            const paypalForm = document.getElementById('paypal-form');
            const qrCodeForm = document.getElementById('qrCode-form');

            if (method === 'card') {
                cardForm.style.display = 'block';
                mobileWalletForm.style.display = 'none';
                paypalForm.style.display = 'none';
                qrCodeForm.style.display = 'none';
            } else if (method === 'mobileWallet') {
                cardForm.style.display = 'none';
                mobileWalletForm.style.display = 'block';
                paypalForm.style.display = 'none';
                qrCodeForm.style.display = 'none';
            } else if (method === 'paypal') {
                cardForm.style.display = 'none';
                mobileWalletForm.style.display = 'none';
                paypalForm.style.display = 'block';
                qrCodeForm.style.display = 'none';
            } else if (method === 'qrCode') {
                cardForm.style.display = 'none';
                mobileWalletForm.style.display = 'none';
                paypalForm.style.display = 'none';
                qrCodeForm.style.display = 'block';
            } else {
                cardForm.style.display = 'block';
                mobileWalletForm.style.display = 'none';
                paypalForm.style.display = 'none';
                qrCodeForm.style.display = 'none';
            }
        }

        const addressInput = document.getElementById('contactName');
        const header = document.querySelector('.header');
        const logo = document.querySelector('.logo');

        addressInput.addEventListener('input', function () {
            if (this.value.length > 0) {
                header.classList.add('active');
                logo.classList.add('active');
            } else {
                header.classList.remove('active');
                logo.classList.remove('active');
            }
        });
        ;
    </script>
</body>

</html>